* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #c2cad0;
  overflow: auto;
  width: 100%;
  
}

/*.header {*/
/*  font-family: cursive;*/
/*  font-size: 1em;*/
/*  padding: 20px;*/
/*  text-align: center;*/
/*  background-color: #D1A7D1;*/
/*  position: fixed;*/
/*}*/

header {
  height: 200px;
}
header h1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 1%;

}

h1 {
  font-size: 50px !important;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.side {
  background-color: #dad6ec;
  font-size: 1.3em;
  width: 100%;
  /*padding-left: 15%;*/
  /*padding-right: 15%;*/
  padding-top: 0%;
  padding-bottom: 2%;
  
}
.side h2 {
  text-align: center;
}
.main {
  flex: 70%;
  background-color:#c8cfdc;
  padding: 1% 10%;
  font-size: 1.1em;
  text-align: center;
  /*position: fixed;*/
  width: 100%;
  
}

.main-img {
/*  width: 100%;*/
  display: flex;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
}
figure {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*padding-left: -10px;*/
}

/*figcaption {*/
/*  text-align: center;*/
/*}*/
.side ul{
  padding: 0 30%;
}



footer {
  padding: 20px;
  background-color: #8e7978;
  height: 200px;
  font-size: 25px;
}


@media only screen and (max-width: 550px) {
  .row, .navbar {   
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 550px) {
  p {
    text-align: center;
  }
}

@media only screen and (max-width: 400px) {
  figure > img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.title{
  /*background: #9dadba;*/
  text-align: center;
  /*margin-top:0;*/
  /*padding-top:10px;*/
  padding-bottom:20px;
  /*font-family: Chalkduster, fantasy;*/
  margin-bottom: 0px;
}

section {
  background: #e9967a;
  padding-top:100px;
  padding-bottom: 100px;
  margin-top:-40px;
}

/*header {*/
/*  position: fixed;*/
/*}*/

.para1 {
  font-size: 1.3em;
  color: black;
  font-family: cursive;

}
.para2 {
  font-size: 1.3em;
  color: black;
  font-family: cursive;

}


/*@media only screen and (max-width: 550px) {*/
/*  p {*/
/*    text-align: center;*/
/*  }*/
/*}*/

.main p {
  font-size: 20px;
  font-family: cursive;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.side ul li {
   font-size: 20px;
   font-family: cursive;
   font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

footer .next {
  padding-right:1%;
}


footer {
  align-items: center;
}



