* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background-color: #c2cad0;
  margin: 0 auto;
  width: 95%;
}

/*.header {*/
/*  font-family: cursive;*/
/*  font-size: 1em;*/
/*  padding: 20px;*/
/*  text-align: center;*/
/*  background-color: #D1A7D1;*/
/*  position: fixed;*/
/*}*/

.row {  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.side {
  background-color: #dad6ec ;
  font-size: 1.3em;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 0%;
  padding-bottom: 2%;
  
}
.side h2 {
  text-align: center;
}
.main {
  flex: 70%;
  background-color: #c8cfdc;
  padding: 1% 10%;
  font-size: 1.1em;
  text-align: center;
  /*position: fixed;*/
  width: 100%;
}

.main-img {
/*  width: 100%;*/
  display: flex;
  width: 60vw;
  height: auto;
}
figure {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*figcaption {*/
/*  text-align: center;*/
/*}*/

footer {
  padding: 20px;
  text-align: center;
  background-color: #8e7978;
}


@media only screen and (max-width: 550px) {
  .row, .navbar {   
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 550px) {
  p {
    text-align: center;
  }
}

@media only screen and (max-width: 400px) {
  figure > img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.title{
  background: #9dadba ;
  text-align: center;
  margin-top:0;
  padding-top:10px;
  padding-bottom:20px;
  font-family: Chalkduster, fantasy;
}

section {
  background: #e9967a;
  padding-top:100px;
  padding-bottom: 100px;
  margin-top:-20px;
}

/*header {*/
/*  position: fixed;*/
/*}*/

.para1 {
  font-size: 1.3em;
}

/*@media only screen and (max-width: 550px) {*/
/*  p {*/
/*    text-align: center;*/
/*  }*/
/*}*/