* {
  padding: 0;
  margin:0;
  box-sizing:border-box;
}


body {
  font-family: verdana;
  height: 100vh;
}

.banner-area {
  width: 100%;
  height: 55vh;
  background:url("https://d1csarkz8obe9u.cloudfront.net/posterpreviews/anti-bullying-slogan-facebook-cover-template-design-2903bae1799f92d6f53e82f7691a87b3_screen.jpg?ts=1561379948");
  background-size: cover;
  
}


.blackground{
  background:black;
 margin-top: 100px;
}


.title{

  background:#D10000;

  text-align: center;
  margin-top:0;
  padding-top:10px;
  padding-bottom:10;
  font-family:Chalkduster, fantasy;
}

section {
  /*background: #e9967a;*/
  /*background:#e9967a;*/
  padding-top:100px;
  padding-bottom: 100px;
  margin-top:-20px;
}

.container-1{
   text-align: center;
  text-align: center;
  display: center;
}

li {
  list-style: none;
}

a {

   color: black;

  color: black;

  text-decoration: none;
}

.homepage-overlay {
  display: flex;
  flex-direction: row;
  background-color: #000;
  padding-top: 20px;
  padding-bottom: 35px;
}

.homepage-bullying-overlay {
  position: relative;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
}

.homepage-cyberbullying-overlay {
  position: relative;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
}

.homepage-social-overlay {
  position: relative;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
}

.image {
  display: block;
  width: 100%;
  height: 330px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.homepage-bullying-overlay:hover .overlay {
  opacity: 1;
}

.homepage-cyberbullying-overlay:hover .overlay {
  opacity: 1;
}

.homepage-social-overlay:hover .overlay {
  opacity: 1;
}

header {
  text-align: center;
  background-color: #444;
  margin-top:0;
  padding-top:5px;
  padding-bottom:30px;
  font-family: Chalkduster, fantasy;
  height: 35vh;
}
.top-p {
  height: 6vh;
}

@media (max-width: 550px) {
  .homepage-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .homepage-bullying-overlay {
    width: 63%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .homepage-cyberbullying-overlay {
    width: 63%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .homepage-social-overlay {
    width: 63%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  /*header {*/
  /*  background:url("https://d1csarkz8obe9u.cloudfront.net/posterpreviews/anti-bullying-slogan-facebook-cover-template-design-2903bae1799f92d6f53e82f7691a87b3_screen.jpg?ts=1561379948");*/
  /*  background-repeat: no-repeat;*/
  /*  background-size: cover;*/
  /*}*/
}

/*@media (max-width: 550px) {*/
/*  .homepage-overlay {*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*  }*/
/*}*/

/*@media (max-width: 550px) {*/
/*  .homepage-bullying-overlay {*/
  /*positi
}


/*@media (max-width: 550px) {*/
/*  .image {*/
/*    display: block;*/
/*    width: 330px;*/
/*    height: 330px;*/
/*    justify-content: center;*/
/*    margin: 0 auto;*/
/*  }*/
/*  .overlay {*/
    /*position: absolute;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    height: 330px;*/
/*    width: 330px;*/
/*    opacity: 0;*/
/*    transition: .5s ease;*/
/*    background-color: #008CBA;*/
/*    justify-content: center;*/
/*    margin: 0 auto;*/
/*  }*/
  
/*}*/

.sign-up {
  font-family: cursive;  
  margin-top:27px;
  margin-left: -10px;
  color: white;
}

.enter{
  color:white;
}


.top {
  color: white;
  text-align: center;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


#mySidenav a {
  position: absolute; 
  left: -77px; 
  transition: 0.3s;
  padding: 15px; 
  width: 100px; 
  text-decoration: none;
  font-size: 10px; 
  color: white; 
  border-radius: 0 20px 20px 0; 
  
}

#mySidenav a:hover {
  left: 0; 
}


#about {
  top: 7px;
  background-color: #55A;
}

#next-steps-tab {
  top: 33px;
  background-color: #00ff00; /* Blue */
}

#more-info {
  top: 62px;
  background-color: #f44336; /* Red 
}

#contact {
  top: 200px;
  background-color: #555 /* Light Black */
}






.btn {
  padding: 0 20px;
  height: 28px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 1px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}

.btn-1 {
  height: 30px;
  width: 280px;
  text-transform: uppercase;
  border: 1px black dashed;
  border-radius: 3px;
  background: transparent;
  cursor: pointer;
}
